.btn {
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;

    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid currentColor;
    border-radius: 5px;
    font-size: 53px;

    &:hover {
        color: $white;
    }

    &--facebook-f {
        color: #3b5998;

        &:hover {
            background-color: #3b5998;
            border-color: #3b5998;
        }
    }

    &--instagram {
        color: #517fa4;

        &:hover {
            background-color: #3b5998;
            border-color: #3b5998;
        }
    }

    &--twitter {
        color: #00aced;

        &:hover {
            background-color: #00aced;
            border-color: #00aced
        }
    }

    &--dribbble {
        color: #ff0084;

        &:hover {
            background-color: #ff0084;
            border-color: #ff0084
        }
    }

    &--telegram-plane {
        color: white;
        border: none;
        font-size: 24px;
        background-color: #2ec06c;
        border-radius: 0px 5px 5px 0px;
        min-width: 40px;
        flex-shrink: 0;

        &:hover {
            background-color: lighten($color: #2ec06c, $amount: 15%);
        }
    }
}