-
    var data = {
        "pageTitle": "Sefolio",
        "title": "Have any <span>project!</span>",
        "subtitle": "Just send me a message I will help you and make you smile",
        "social": ["facebook-f", "twitter", "instagram", "dribbble"],
        "placeholder": ["First name", "Last name", "Your email", "Project name"],
        "placeholderTextarea": "Your message...",
        "iconSend": "telegram-plane"
    },
    NULL = "javascript:void(0)"

include pages/index.pug
include pages/contact.pug