.instagram {
    background: url(../img/bg--left.png) left no-repeat, url(../img/bg--right.png) no-repeat right;
    padding: 50px 0;
}
h2 {
    text-align: center;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}
.panel:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
}
.panel {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}
.panel:after {
    position: absolute;
    content: '';
    background: rgba(233, 79, 67, 0.62);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
i {
    position: absolute;
    color: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 12em;
    transition: .2s;
}
.panel:hover:after {
    opacity: 1;
}
.panel:hover i {
    transform: translate(-50%,-50%) scale(1);
}