/* styles goes here */
.slider-container {
    position: relative;
}
.slider-button {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.slider-button--next {
    right: 0;
}
.slider-button--prev {
    left: 0;
}